@{
    string url = HttpContext.Current.Request.Url.AbsolutePath;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/agency.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />



        <link href="~/Content/agency.min.css" rel="stylesheet" />


        <link href="~/Content/animation.css" rel="stylesheet" />
        <link href="~/Content/css/main.css" rel="stylesheet" />
        <link href="~/Content/css/util.css" rel="stylesheet" />
        <link href="~/Content/perfect-scrollbar.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
              rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
              rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
              rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
              rel='stylesheet' type='text/css'>*@
    @*<link type="text/css" rel="stylesheet" hrf="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />*@


</head>
<body id="page-top">
    <header class="masthead" id="image">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase" style="font-size: 5vw;">
                    Becas
                    de apuntes y fotocopiadora del CEP
                </div>
                <div class="intro-lead-in"></div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
                   href="#encuesta" style="visibility: hidden;">Becas de apuntes</a>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Becas Cep</a><i></i>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" Href="@Url.Action("Crear","Inscripcion")">Inscribisrse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" Href="@Url.Action("ListadoGanadores","Inscripcion")">Ganadores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" Href="@Url.Action("Listado","Inscripcion")">Listado Inscriptos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" Href="@Url.Action("Login","Account")">Login</a>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole(BecasCep.Models.Enums.RoleConst.Administrador))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" Href="@Url.Action("Sorteo","Sorteo")">Sorteo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" Href="@Url.Action("ListadoAdmin","Admin")">Listado Admin</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" Href="@Url.Action("LogOff","Account")">Logout</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; pablopodgaiz 2018</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">

                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/CEP.UBA/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/impulso_nuevocep/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->




    <script src="~/Scripts/contact_me.min.js"></script>
    <!-- Custom scripts for this template -->

    <script src="~/Scripts/agency.min.js"></script>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>

    <script src="~/Scripts/SweetAlert.Js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    @*

        <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>


        <script src="~/Scripts/bootstrap.bundle.min.js"></script>

        <script src="~/Scripts/jquery.easing.min.js"></script>


        <script src="~/Scripts/jquery.easing.compatibility.js"></script>

        <script src="~/Scripts/datatables.extensions/TableTools/js/dataTables.tableTools.js"></script>
        <script src="~/Scripts/contact_me.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/modernizr-2.8.3.js"></script>

        <script src="~/Scripts/perfect-scrollbar.min.js"></script>*@

</body>
</html>
@RenderSection("scripts", false)
